Babel==2.5.1
bleach==2.1.1
blinker==1.4
click==6.7
coverage==4.4.1
decorator==4.1.2
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-PageDown==0.2.2
Flask-SQLAlchemy==2.3.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
guess-language==0.2
html5lib==1.0b10
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==1.0
micawber==0.3.4
pbr==3.1.1
peewee==2.10.2
PyMySQL==0.7.11
python-openid==2.2.5
pytz==2017.3
six==1.11.0
SQLAlchemy==1.1.15
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
webencodings==0.5.1
Werkzeug==0.12.2
Whoosh==2.7.4
WTForms==2.1
