{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog entries{% endif %}{% endblock %}

{% block content %}
  {% for post in posts%}
    <h3>
      <a href="{% if post.published %}{{ url_for('main.detail', slug=post.slug)
          }}{% else %}{{ url_for('main.edit', slug=post.slug) }}{% endif %}">
        {{ post.title }}
      </a>
    </h3>
    <p>Created at {{ post.timestamp.strftime('%Y/%m/%d   %X') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
{% endblock %}
